body{
	margin: 0;
}	
:root{
	--main-animation: .3s ease; 
}
.main-screen{
	position: relative;
	overflow: hidden;
	background: transparent;
	transition: var(--main-animation);
}
.left-side{
	position: absolute;
	left:-100%;
	z-index: 100;
	background-image: url(../images/left.png);
	background-size: cover;
	color: white;
	transition: var(--main-animation);
}
.top-side{
	position: absolute;
	top:-100%;
	background-image: url(../images/top.png);
	background-size: cover;
	transition: var(--main-animation);
}
.right-side{
	position: absolute;
	right:-100%;
	top:0;
	/*z-index: 1000;*/
	background-image: url(../images/right.png);
	background-size: cover;
	transition: var(--main-animation);

}
.down-side{
	position: absolute;
	bottom:-100%;
	background-image: url(../images/bottom.png);
	background-size: cover;
	transition: var(--main-animation);
}
.main-screen>div.center{
	transition: var(--main-animation);
	background-image: url(../images/center.png);
	background-size: cover;
	position: relative;
}
.main-screen>div.center>button{
	position: absolute;
}
.main-screen>div.center>button.left-button{
	left:0;
	top:50%;
}
.main-screen>div.center>button.top-button{
	top:0;
	left:50%;
}
.main-screen>div.center>button.right-button{
	right: 0;
	top:50%;
}
.main-screen>div.center>button.down-button{
	bottom: 0;
	right: 50%;
}



